/*  Global   */

body {
  background-color: #fff;
  font: 300 15px 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

a,
a:hover {
  color: inherit;
}

@media (min-width: 1200px) {
  .ui.container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/*  Page Header  */

.page-header {
  background: rgba(0, 0, 0, 0.4) url(/images/desktop/image-hero.jpg) no-repeat
    center/cover;
  min-height: 570px;
  max-height: 700px;
  background-blend-mode: overlay;
}

.page-header div {
  padding-top: 50px;
}

.site-nav {
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  background: url(/images/logo.svg) no-repeat center/contain;
  width: 12rem;
  min-width: 9rem;
  height: 2.5rem;
}

.site-nav ul.nav-menu {
  margin-top: 0;
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  text-transform: none;
}

.site-nav ul.nav-menu li.item {
  position: relative;
  display: flex;
  justify-content: center;
  text-transform: inherit;
}

.site-nav ul.nav-menu li.item:hover {
  cursor: pointer;
}

.site-nav ul.nav-menu li.item::after {
  content: '';
  width: 30%;
  position: absolute;
  bottom: 0;
}

.site-nav ul.nav-menu li.item:hover::after {
  transition: 0.1s ease-in-out;
  border-bottom: 2px solid #fff;
}

.page-header h1 {
  color: #fff;
  font: inherit;
  font-size: 4.3rem;
  line-height: 1;
  border: 2px solid #fff;
  max-width: 570px;
  padding: 35px 35px 25px;
  margin-top: 8rem;
  letter-spacing: 0.02em;
}

/*  Main Content  */

main {
  background: #fff;
  margin: 150px 0;
}

.brief-about {
  position: relative;
  margin-bottom: 180px;
}

.about-info {
  background: #fff;
  position: absolute;
  top: 160px;
  left: 470px;
  width: 550px;
  padding: 70px 80px;
  z-index: 2;
}

h2 {
  color: #000;
  font: inherit;
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-info p {
  text-transform: none;
  font: 400 13px/1.7 'Alata', sans-serif;
  color: hsl(0, 0%, 55%);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .brief-about {
    display: flex;
  }

  .about-info {
    position: static;
    padding: 30px 40px;
    margin: 130px 0 0 -100px;
  }

  h2 {
    font-size: 2.5rem;
  }
}

.our-creations header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.our-creations header h2 {
  margin: 0;
}

.our-creations header button {
  text-transform: uppercase;
  width: 10.5em;
  height: 2.8em;
  font: 400 13px 'Alata', sans-serif;
  letter-spacing: 0.3em;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 55%);
  border-radius: 2px;
  color: #000;
}

.our-creations header button:hover {
  transition: 0.3s ease-in;
  background-color: #000;
  outline: #000;
  border-color: #000;
  color: #fff;
  cursor: pointer;
}

.our-creations .creations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 25px;
}

.our-creations .creations .creation {
  position: relative;
}

.our-creations .creations .creation h3 {
  margin: 0;
  position: absolute;
  left: 35px;
  bottom: 35px;
  color: inherit;
  font: 300 28px/1 'Josefin Sans', sans-serif;
  width: 150px;
  z-index: 5;
}

.our-creations .creations .creation img {
  width: 100%;
  height: 100%;
}

.our-creations .creations .creation::after {
  content: '';
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.705));
  position: absolute;
  bottom: 0;
  left: 0;
}

.our-creations .creations .creation:hover {
  transition: 0.5s ease-in;
  color: #000;
  cursor: pointer;
}

.our-creations .creations .creation h3:hover {
  color: #fff;
}

.our-creations .creations .creation img:hover {
  transition: 0.3s ease-in;
  filter: opacity(0.2);
}

.our-creations .creations .creation:hover::after {
  height: 0;
}

/*  Footer  */

footer {
  background: #000;
  color: #fff;
  padding: 35px 0 25px;
}

.site-footer.ui.container {
  display: flex;
  justify-content: space-between;
}

.site-footer .site-nav {
  flex-direction: column;
  align-items: stretch;
}

.site-footer .site-logo {
  width: 9rem;
}

.site-footer .site-nav .nav-menu {
  padding: 0;
  margin-top: 5px;
  margin-left: -16px;
}

.site-footer:last-child {
  display: flex;
  align-items: center;
}

.social-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 15px;
}

.social-nav > * {
  padding: 0 8px;
  margin: 0 5px;
  margin-right: -8px;
}

.social-nav img {
  width: 20px;
}

.social-nav a:hover {
  transition: 0.1s ease-in;
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}

.copy-rights {
  text-transform: none;
  color: hsl(0, 0%, 41%);
  font: 400 13px 'Alata', sans-serif;
  padding: 10px 0;
}

.attribution {
  text-align: center;
  font: 400 10px 'Alata', sans-serif;
  margin-top: 30px;
  letter-spacing: 0.15em;
  text-transform: none;
  color: hsl(0, 0%, 41%);
}

.attribution a:last-child {
  color: lightseagreen;
}

.attribution a:hover {
  color: hsl(0, 0%, 55%);
}

/*   Mobile Styles   */

@media (max-width: 767px) {
  body {
    text-align: center;
  }

  .page-header {
    background-image: url(/images/mobile/image-hero.jpg);
    background-blend-mode: lighten;
    height: 650px;
  }

  .page-header div {
    padding-top: 40px;
  }

  .page-header .site-nav ul.nav-menu {
    display: none;
  }

  .page-header h1 {
    text-align: start;
    font-size: 3rem;
    padding: 25px;
  }

  main {
    margin: 100px 0;
  }

  .brief-about {
    margin-bottom: 80px;
  }

  .about-info {
    position: static;
    padding: 25px;
    width: auto;
  }

  h2 {
    font-size: 2.5rem;
  }

  .about-info p {
    font-size: 16px;
  }

  .our-creations {
    position: relative;
  }

  .our-creations .creations {
    padding-bottom: 80px;
  }

  .our-creations header {
    flex-direction: column;
    align-items: center;
  }

  .our-creations header button {
    position: absolute;
    bottom: 0;
    width: 11em;
    font-size: 16px;
  }

  .our-creations .creations .creation h3 {
    text-align: start;
    font-size: 26px;
    left: 20px;
    bottom: 22px;
  }

  .our-creations .creations .creation::after {
    background: linear-gradient(
      275deg,
      transparent,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    );
    width: 40%;
    height: 100%;
  }

  .site-footer.ui.container {
    flex-direction: column;
    align-items: center;
  }

  .site-footer .site-nav .nav-menu {
    flex-direction: column;
    margin: 30px 0;
    font-size: 16px;
  }

  .social-nav {
    justify-content: center;
    margin: 10px 0;
  }

  .social-nav > * {
    margin: 0 3px;
  }

  .social-nav img {
    width: 30px;
  }

  .copy-rights {
    font-size: 16px;
  }
}
